body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
}

label {
  color: white;
}

#result {
  color: blue;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  font-weight: bold;
  font-size: 16pt;
}
